.sortForm {
  height: 25vh;
  width: calc(100% - 100px);
  margin: 2px;
  padding: 2px;
}
.filter {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 3rem;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 400px;
}
label {
  margin-right: -37px;
  font-weight: 700;

  padding: 1em 3em 1em 1.3em;
}
select {
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); */
  font-size: 18px;
  padding: 1em 3em 1em 1.3em;
  background: #fff;
  color: #000;
  /* appearance: none; */
  border: 0;
}
.subt {
  height: calc(60px - 2px);
  width: 50px;
  margin-left: 20px;
  background-color: #1f1d36;
  /* background: linear-gradient(to right, #df5ecb, #ed8d8d); */

  color: #fff;
  outline: none;
  border: none;
  font-size: 15px;
}
.p {
  font-size: 1.8rem;
  padding: 2rem;
}
.prodbtn:hover {
  /* box-shadow: 0 0 10px 1px #864879; */
  background-color: #e9a6a6;
}
